.course-box {
    background-color: var(--white-color);
    box-shadow: 0 0 19px rgba(168, 172, 185, 0.6);
    border-radius: 2rem;
    margin: 2rem 0;
    transition: all 400ms ease;
    overflow: hidden;
}

.course-box:hover {
    transform: translateY(-0.6rem);
}

.course-box__img {
    width: 100%;
}

.course-box__main {
    padding: 1.2rem 2rem;
    border-bottom: 1px solid #e8e8e8;
}

.course-box__title {
    display: block;
    padding: 1rem 0;
}

.course-box__rating-teacher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-box__teacher {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.course-box__teacher-icon {
    color: #6c757d;
    font-size: 1.8rem;
}

.course-box__teacher-link {
    color: #6c757d;
    font-size: 1.8rem;
}

.course-box__star {
    margin: -0.2rem;
}

.course-box__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.course-box__users-icon {
    color: #6c757d;
    font-size: 1.6rem;
}

.course-box__users-text {
    color: #6c757d;
    font-size: 1.4rem
}

.course-box__price {
    color: #9c9c9c;
    font-size: 1.8rem;
}

.course-box__footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-box__footer:hover {
    background-color: #e1e1e1;
}

.course-box__footer-link {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.course-box__footer-icon {
    font-size: 1.9rem;
}